<app-header></app-header>

<!-- form-content-->
<div class="form-content">

  <form class="form" [formGroup]="personFormGroup" (ngSubmit)="onSubmit()">
    <!-- form-head-->
    <div class="form-head">PERSON ADDRESS FORM
      <a routerLink="/home-page" class="close-button">
        <img src="../assets/images/cancel.jpeg" alt="">
      </a>
    </div>

    <!-------Input FullName--------->
    <div class="row-content">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Full Name</mat-label>
        <input class="input" matInput ngDefaultControl formControlName="fullName">
      </mat-form-field>
    </div>

    <!-------Input PhoneNumber--------->
    <div class="row-content">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Phone Number</mat-label> 
        <input class="input" matInput ngDefaultControl formControlName="phoneNumber">
      </mat-form-field>
    </div>

    <!-------Input Address--------->
    <div class="row-content">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Address</mat-label>
        <input class="input" matInput ngDefaultControl formControlName="address">
      </mat-form-field>
    </div>

    <!-------Input City--------->
    <div class="row-content">
      <mat-form-field class="example-full-width" appearance="outline"> 
        <mat-label>City</mat-label>
        <input class="input" matInput ngDefaultControl formControlName="city">
      </mat-form-field>
    </div>

    <!-------Input State--------->
    <div class="row-content">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>State</mat-label>
        <input class="input" matInput ngDefaultControl formControlName="state">
        <!-- <mat-select>
          <mat-option value="AndhraPradesh">Andhra Pradesh</mat-option>
          <mat-option value="ArunachalPradesh">Arunachal Pradesh</mat-option>
          <mat-option value="Assam">Assam</mat-option>
          <mat-option value="Bihar">Bihar</mat-option>
          <mat-option value="Chhattisgarh">Chhattisgarh</mat-option>
          <mat-option value="Goa">Goa</mat-option>
          <mat-option value="Gujarat">Gujarat</mat-option>
          <mat-option value="Haryana">Haryana</mat-option>
          <mat-option value="HimachalPradesh">Himachal Pradesh</mat-option>
          <mat-option value="Jharkhand">Jharkhand</mat-option>
          <mat-option value="Karnataka">Karnataka</mat-option>
          <mat-option value="Kerala">Kerala</mat-option>
          <mat-option value="MadhyaPradesh">Madhya Pradesh</mat-option>
          <mat-option value="Maharashtra">Maharashtra</mat-option>
          <mat-option value="Manipur">Manipur</mat-option>
          <mat-option value="Meghalaya">Meghalaya</mat-option>
          <mat-option value="Mizoram">Mizoram</mat-option>
          <mat-option value="Nagaland">Nagaland</mat-option>
          <mat-option value="Odisha">Odisha</mat-option>
          <mat-option value="Punjab">Punjab</mat-option>
          <mat-option value="Rajasthan">Rajasthan</mat-option>
          <mat-option value="Sikkim">Sikkim</mat-option>
          <mat-option value="TamilNadu">Tamil Nadu</mat-option>
          <mat-option value="Telangana">Telangana</mat-option>
          <mat-option value="Tripura">Tripura</mat-option>
          <mat-option value="UttarPradesh">Uttar Pradesh</mat-option>
          <mat-option value="Uttarakhand">Uttarakhand</mat-option>
          <mat-option value="WestBengal">West Bengal</mat-option>
        </mat-select> -->
      </mat-form-field>
    </div>

    <!-------Input ZipCode--------->
    <div class="row-content">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>ZipCode</mat-label>
        <input class="input" matInput ngDefaultControl formControlName="zipNo">
      </mat-form-field>
    </div>

    <!-------Adding Add and Reset Button--------->
    <div class="buttonParent">
      <!-- <a routerLink="/home-page">
        <button mat-raised-button type="submit" class="button" id="addButton">Add</button>
      </a> -->
      <button mat-raised-button type="submit" class="button" id="addButton">Add</button>
      <div class="submit-reset">
        <button mat-raised-button type="reset" class="button">Reset</button>
      </div>
    </div>

  </form>